<div style="max-width:600px; margin:24px auto; padding: 0 24px;">
    <IgbTree>
        <IgbTreeItem Label="North America" >
            <IgbTreeItem Label="United States">
                <IgbTreeItem Label="California"></IgbTreeItem>
                <IgbTreeItem Label="Texas"></IgbTreeItem>
                <IgbTreeItem Label="New York"></IgbTreeItem>
            </IgbTreeItem>
            <IgbTreeItem Label="Canada"></IgbTreeItem>
            <IgbTreeItem Label="Mexico"></IgbTreeItem>
        </IgbTreeItem>
        <IgbTreeItem Label="South America">
            <IgbTreeItem Label="Brazil"></IgbTreeItem>
            <IgbTreeItem Label="Uruguay"></IgbTreeItem>
        </IgbTreeItem>
        <IgbTreeItem Label="Europe">
            <IgbTreeItem Label="United Kingdom"></IgbTreeItem>
            <IgbTreeItem Label="Germany"></IgbTreeItem>
            <IgbTreeItem Label="Bulgaria"></IgbTreeItem>
        </IgbTreeItem>
    </IgbTree>
</div>
